

.icon-drop-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.btn-icon-small{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    padding: 1px;
    align-items: center;
    background-color: transparent;
    transition: 300ms;
    
  }
  
  .btn-icon-small:hover{
    background-color: #E4E6E7;
  }
  
  .btn-icon-small:active{
    background-color: #cacdce;
    border: 1px solid #bdc0c2;
  }
  
  .btn-icon-small:focus{
    background-color: #d5d8d8;
    border: 1px solid #bdc0c2;
  }