.task-container{
    display: flex;
    flex-direction: column;
    gap: 16px;

}


.task-list-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 64px;
}

.task-head{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}